<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="urlGoogle" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}"/>
    <add key="urlBing" value="https://api.cognitive.microsoft.com/bing/v7.0/search"/>
    <add key="GoogleAPIKey" value="GooggleAPIKey"/>
    <add key="GoogleCEKey" value="GoogleCustomEngineKey"/>
    <add key="BingKey" value="BingKey"/>
  </appSettings>
</configuration>
